@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Bricolage';
    src:url('src/font/BricolageGrotesque-VariableFont_opsz,wdth,wght.ttf');
}

@font-face {
    font-family: 'AeBold';
    scr:url('src/font/AeonikProTRIAL-Bold.otf');
}

@font-face {
    font-family: 'AeReg';
    scr:url('src/font/AeonikProTRIAL-Regular.otf');
}